name: Python package

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black pytest mypy types-setuptools scipy numpy
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Lint with `black`
        run: |
          black oompy --check
      - name: Type-hint check with `mypy`
        run: |
          mypy oompy
      - name: Test with `pytest`
        run: |
          pytest
      - name: Publish package
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
